<h1>All Listings</h1>
<p>Welcome</p>
<br />
<ul>
  <% @spaces.each do |space|%>
  <li>
    <form action="/booking" method="post">
      <article>
        <p>
          <%= space.first_name.capitalize %> <%= space.last_name.capitalize %>
          posted:
        </p>
        <h2><%= space.title %></h2>
        <p><strong>£<%= space.price %> per night</strong></p>
        <p><%= space.description %></p>
        <p>Available from <%= space.available_from %> until <%= space.available_to %></p>
        

        <input type="hidden" name="title" value="<%= space.title %>" />
        <input
          type="hidden"
          name="description"
          value="<%= space.description %>"
        />
        <input type="hidden" name="location" value="<%= space.location %>" />
        <input type="hidden" name="price" value="<%= space.price %>" />
        <input type="hidden" name="space_id" value="<%= space.id %>" />
        <input type="submit" value="book" />
      </article>
    </form>
  </li>
  <% end %>
</ul>

<a href="/space/new"
  ><button type="button"><span></span>List a space</button></a
>
