<h1>All Listings</h1>
<p>Welcome</p>
<br />
<ul>
  <% @spaces.each do |space|%>
  <li>
  <article>
    <h2><%= space.first_name.capitalize %> <%= space.last_name.capitalize %> posted: </h2>
    <h3><%= space.title %></h3>
    <p><%= space.description %></p>
    <p><%= space.location %></p>
    <p>£<%= space.price %> per night</p>
    
  </article>
  </li>
  <% end %>
</ul>

<a href="/space/new"><button type="button"><span></span>List a space</button></a>
