Booking page
<form action='/booking/confirmation' method='post'>

<input type="date" id="start" name="starting_date"
       value="<%= @available_from %>"

       min="<%= @available_from %>" max="<%= @available_to %>">

<input type="date" id="end" name="ending_date"
       value="<%= @available_to %>"

       min="<%= @available_from %>" max="<%= @available_to %>">
    <input type="submit" name="Submit">
</form>
