<h1> All Listings </h1>
<br>
<ul>
<% @spaces.each do |space|%>
  <li>
  <article>
    <form action="/booking" method="post">
    <h2><%= space.title %></h2>
    <p><%= space.description %></p>
    <p><%= space.location %></p>
    <p>£<%= space.price %> per night</p>
    <!-- <form action="/booking" method="post"> -->
      <input type="hidden" name='id' value="<%= space.id %>">
      <input type="hidden" name='title' value="<%= space.title %>">
      <input type="hidden" name='price' value="<%= space.price %>">
      <input type="hidden" name='description' value="<%= space.description %>">
      <input type="hidden" name='location' value="<%= space.location %>">
      <button type="submit" value="submit">book</button>
    </form>
  </article>
  </li>
  <% end %>
</ul>
